# Copia in .env e modifica i valori. NON committare mai .env su git.

RABBITMQ_USER=cyber_user
RABBITMQ_PASS=CambiaMe_Forte123

MONGO_DB=cyber_logs
MONGO_USER=cyber_mongo
MONGO_PASSWORD=CambiaMe_Forte123

GRAFANA_USER=admin
GRAFANA_PASSWORD=CambiaMe_Forte123
